# Core Dependencies (force build trigger)
websockets
supabase
pyarrow
gradio
streamlit
psutil
python-dotenv
pandas
ccxt
matplotlib
seaborn
scipy
numpy
requests
aiohttp
aiosqlite
fastapi
uvicorn
pydantic
beautifulsoup4
lxml
plotly
huggingface_hub
SQLAlchemy
# Other necessary libs from original list
aiodns
aiohappyeyeballs
aiosignal
annotated-doc
annotated-types
anyio
attrs
bleach
cffi
charset-normalizer
click
colorama
cryptography
cssselect
cssutils
cycler
dataframe_image
defusedxml
ecdsa
fastjsonschema
fonttools
frozenlist
greenlet
h11
h5py
hdf5plugin
idna
Jinja2
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
jupyterlab_pygments
kiwisolver
llvmlite
MarkupSafe
mistune
more-itertools
multidict
narwhals
nbclient
nbconvert
nbformat
numba
packaging
pandocfilters
pillow
platformdirs
playwright
propcache
pyasn1
pycares
pycparser
pycryptodome
pyee
Pygments
pyotp
pyparsing
python-dateutil
python-jose
python-multipart
python-socks
pytz
pyzmq
referencing
rpds-py
rsa
setuptools
six
soupsieve
starlette
tinycss2
tornado
tqdm
traitlets
typing-inspection
typing_extensions
tzdata
urllib3
webencodings
yarl
